html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

/* Profile picture sizing  */
.thumb-post {
  object-fit: cover;
  object-position: center;
  width: 40px;
  max-height: 40px;
}

.overlay {
  /* Fill screen */
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed; /* Stay in place */
  align-items: center;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
}
