<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Cat Clicker" />
    <meta name="author" content="Ahmad Sulaeman (asaeles)" />
    <title>Cat Clicker</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: center;
        margin: auto;
      }

      aside {
        float: left;
      }
    </style>
    <!-- <<<<<<< External Java Scripts >>>>>>> -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <!-- <<<<<<< Internal Java Scripts >>>>>>> -->
    <script src="js/mvc.js"></script>
  </head>
  <!-- <<<<<<< Body Start >>>>>>> -->
  <body id="my-body">
    <!-- <<<<<<< Header Start >>>>>>> -->
    <header>
      <h1>Cat Clicker</h1>
      <p>
        It's simple, just click the cat image!
      </p>
    </header>
    <aside>
      <ul id="cats-list"></ul>
    </aside>
    <!-- <<<<<<< Container Start >>>>>>> -->
    <main id="container">
      <div id="cat-div">
        <h3 id="cat-name"></h3>
        <img
          id="cat-image"
          style="max-height: 200px;"
          src=""
          alt="Cute cat image"
        />
        <p>Number of clicks:</p>
        <h2 id="cat-clicks"></h2>
      </div>
    </main>
    <!-- <<<<<<< Admin Section >>>>>>> -->
    <section>
      <button id="admin-button">Admin</button>
      <form id="admin-form" style="display: none;">
        <label for="admin-name">Name:</label>
        <input id="admin-name" type="text" /><br />
        <label for="admin-url">URL:</label>
        <input id="admin-url" type="text" /><br />
        <label for="admin-clicks">Clicks:</label>
        <input id="admin-clicks" type="text" /><br />
        <button id="admin-save" type="submit">Save</button>
        <button id="admin-cancel">Cancel</button>
      </form>
    </section>
    <!-- <<<<<<< Footer Start >>>>>>> -->
    <footer class="pt-4 mt-3 my-md-5 pt-md-5 border-top">
      <small
        >&copy; asaeles 1981-<script>
          document.write(new Date().getFullYear());
        </script></small
      >
    </footer>
  </body>
</html>
